/*------------CORREGIDO-------------*/
.pdd-border{
    padding: 0 70px;
  }
  .list-product{
    display: flex;
    justify-content: center;
  }
  .grid-product{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
  }
  
  @media only screen and (max-width: 720px){
    .grid-product{
      grid-template-columns: 1fr;
    }
  }



  /*------------CORREGIDO-------------*/

/*forma de todas las tablas*/
div.card
{
  border-radius: 0px;
  width: 180px;
  
  height: 240px;
 
  border-radius: 0px;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  margin: 20px;
  margin-bottom: 25px;
  transition: all 0.25s;

  padding: 12px 18px;
  position: relative;

  top: 80px;

}
/*Boton agregar color y forma*/
button.agregar
{
  color: #000000;
  justify-content: center;
  
  background-color: #ffba08;
  padding: 3px 15px;
  font-family: var(--fuente-OSWALD);
  font-weight: 10 ;
  border: #ffba08;
  border-radius: 20px

}



.titulomenu{
  font-size: 2rem;
  font-family: var(--fuente-OSWALD);
  color: var(--color-text-negro-bajo);
  
  
  margin: 0;
  text-align: center;
}


/* carrusel*/

div.carrousel2{
  font-family: var(--fuente-OSWALD);
  display: flex;
  justify-content: center;
  align-items: center;
  color: #f31313
  
  
}

.carrousel2>button{
  
  width: 40px;
  height: 40px;
  background: none;
  color: var(--color-text-negro);
  font-size: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  cursor: pointer;
  border-radius: 50%;
  


}

.item-categoria2{
  text-transform: uppercase;
  font-weight: 900;
  font-size: 1.1rem;
  margin: 655;
  padding-top: 25px;
  color: #030303;
  
  padding: 30px;
  text-align: center;
  text-decoration: none;

  width: 100px;
        height: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        overflow: hidden;
        padding: 15px;

        
       
        
}
  

.filtro{
  color: #000000;
  font-family: var(--fuente-OSWALD);
  font-size: 12px;
  left: 200px;
  position: absolute;
  background-color: #9c9c9c;
  padding: 5px 15px;
  border: #9c9c9c solid;
  border-radius: 100px;
  align-items: center;
}



.pdd-border{
 
  text-align: center;
  

  }
  .list-product{
    display: flex;
    justify-content: center;
    border-radius: 110px;
  }
  .grid-product{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
  }

 
  
  @media only screen and (max-width: 720px){
    .grid-product{
      grid-template-columns: 1fr;
    }
  }