.nav {
  padding: 20px 50px;
  display: flex;
  align-items: center;
  font-weight: 700;
  align-content: center;
  background-color: #faa307;

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}
.scrolling {
  background-color: var(--color-vino);
}
.nav .logo {
  flex: 0 1 auto;
  padding: 0 30px 0 10px;
}
.logo > img {
  width: 70px;
}
.nav .nav__navegacion {
  flex: 1 1 auto;
  justify-content: flex-start;
}

.nav .nav__botones {
  flex: 0 1 auto;
  display: flex;
  align-items: center;
}
.nav__botones.bolsita {
  position: relative;
}
.bolsita > .contador {
  background-color: var(--blanco);
  width: 23px;
  height: 23px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: var(--color-vino);
  font-size: 0.9rem;

  position: absolute;
  bottom: -5px;
  right: -10px;
}

.nav__items {
  color: var(--blanco);
  padding: 0 20px;
  text-align: center;
  text-decoration: none;
  font-family: var(--Banchscrich-font);
}

.nav__items--cta {
  border: 2px solid rgb(74, 8, 8);
  width: 100px;
  border-radius: 10px;
  padding: 7px 15px;
  margin-right: 20px;
  font-size: 0.9rem;
  transition: all 0.2s ease-in 0s;
}
.nav__items--cta.register {
  background-color: rgb(74, 8, 8);
  color: rgb(220, 216, 216);
  transition: all 0.2s ease-in 0s;
}
/**/
.heroB {
  height: 100vh;

  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  position: relative;
}
.heroB > div {
  background-color: rgba(247, 247, 247, 0.224);
}
.heroB .contenedor {
  padding: 30px;
}
.heroB__texto {
  padding-left: 69px;
  margin-top: 110px;
}
.heroB__texto > p {
  margin: 0;
}
.heroB__subtitulo {
  font-size: calc(1.21rem + 0.75vw);
  display: flex;
  font-family: var(--Banchscrich-font);
  font-weight: var(--weigth-BH-ligth);
  width: 40%;
}
.heroB__subtitulo > p {
  top: 100px;
}

.heroB__subtitulo.text {
  font-size: 2.1rem;
}
hr {
  border: 2px solid #faa307;
  margin-left: 0;
  width: 350px;
  color: #faa307;
  background-color: #faa307;
}
/*Tabla*/
table {
  margin-top: 70px;
  margin-left: 70px;
  border-collapse: collapse;
}
td,
th {
  /*border: 2px solid black;*/
  padding-left: 20px;
  padding-right: 70px;
  padding-top: 10px;
  padding-bottom: 10px;
}
th {
  background-color: #faa307;
}
td > p {
  display: flex;
}
.img1 {
  max-width: 100px;
  float: left;
  margin-right: 15px;
}
/*lo del cupon*/
.canjeo {
  margin-left: 890px;
  margin-top: -367px;
}
.con label {
  display: block;
  cursor: pointer;
  padding: 5px 0 10px 0;
  font-size: 1rem;
  font-weight: bolder;
}
.con {
  margin-left: 100px;
}
.cupon-100 {
  width: 360px;
  font-size: 1rem;
  font-weight: bolder;
  border: 2px solid black;
}
/*total pagar*/
.sub-iva-total {
  display: flex;
  color: #050505;
  font-size: 20px;
}
/*btns pie*/
.pie {
  margin-left: 100px;
  margin-top: 20px;
}
.btn-enviar {
  display: flex;
  width: 370px;
  /*margin-left: 608px;*/
  background: #fdfcfa;
  padding: 10px;
  cursor: pointer;
  font-size: 1rem;
  font-weight: bolder;
  border: 1px solid #1d1d1d;
}
.btn-enviar2 {
  margin-top: 20px;
  width: 370px;
  background: #f48c06;
  padding: 10px;
  cursor: pointer;
  font-size: 1rem;
  font-weight: bolder;
  border: 3px solid #f48c06;
}
